.headline {
  font-size: 7.594rem;
  line-height: 8rem;
  font-weight: bold;
}

.h2 {
  font-size: 3.157rem;
  font-weight: bold;
  color: var(--color-headline);
}

.h3 {
  font-size: 5rem;
  font-weight: bold;
  font-family: var(--font-headline);
  color: var(--color-headline);
}

.hero {
  background-color: var(--color-main);
  gap: 1rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      var(--color-main)
    ),
    url("../../assets/drums_bw.png");
  background-position: center;
  background-repeat: no-repeat;
}

.ticket_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 0 10% 10% 10%;
  gap: 10vw;
}

.article {
  display: flex;
  border: 5px solid rgba(252, 242, 193, 0.4);
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 5vw;
  gap: 2vw;
}

.a {
  padding: 1rem 2rem;
  border: 2px solid var(--color-headline);
  width: fill;
  text-align: center;
}

.a:hover {
  transition: 0.5s;
  background: var(--color-headline);
  color: black;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero_btn {
  background-color: transparent;
  border: 2px solid var(--color-headline);
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.hero_btn::before {
  content: "";
  width: 1.5625rem;
  height: 2px;
  background: var(--color-text);
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: 0.3s linear, width 0.3s linear;
}

.btn_text {
  font-size: 1.125em;
  line-height: 1.3333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text);
}

.bottom_key_1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: var(--color-main);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.bottom_key_2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: var(--color-main);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.hero_btn:hover {
  color: var(--color-text);
  background: var(--color-headline);
}

.hero_btn:hover::before {
  width: 0.9375rem;
  background: var(--color-text);
}

.hero_btn:hover .btn_text {
  color: var(--color-text);
  padding-left: 1.5em;
}

.hero_btn:hover .bottom_key_1,
.hero_btn:hover .bottom_key_2 {
  right: 0;
  width: 0;
}

@media screen and (max-width: 1024px) {
  .headline {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .ticket_container {
    display: flex;
    flex-direction: column;
  }
}
