.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 30vw;
  height: 20vh;
  margin: 0.5rem;
  position: relative;
  background: #f5f5f5;
  color: #252525;
  border-radius: 4px;
  overflow: hidden;
  line-height: 150%;
  box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.cardinfo {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}

.cardimg {
  background: #00ff88;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.subtitle {
  letter-spacing: 1px;
  font-size: 0.9em;
}

.bigCard {
  width: 40vw;
  height: 50vh;
}

.smallCard {
  width: 30vw;
  height: 40vh;
}

.smallerCard {
  width: 20vw;
  height: 30vh;
}

.card:hover {
  box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
}

.card:hover .cardimg {
  transform: translateY(-5em);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  max-width: 800px;
  max-height: 600px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 999;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.grid_container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 9;
}

.item2 {
  grid-column: 5 / span 12;
  grid-row: 1 / span 7;
}

.item3 {
  grid-column: 5 / span 12;
  grid-row: 8 / span 2;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
