@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #000;
  color: var(--color-text);
}

:root {
  --color-main: #000;
  --color-main2: #25372d;
  --color-main3: #642e24;
  --color-headline: #ce5e4a;
  --color-text: #fcf2c1;
  --font-headline: "Germania One", cursive;
  --font-headline2: "Pirata One", cursive;
  --font-paragraph: "Sen", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-headline);
  color: var(--color-headline);
}

h2 {
  font-family: var(--font-headline2);
  color: var(--color-text);
}

h3 {
  font-family: var(--font-headline2);
  color: var(--color-text);
}

li {
  font-family: var(--font-paragraph);
  color: var(--color-text);
}

p {
  font-family: var(--font-paragraph);
  color: var(--color-text);
}

a {
  font-family: var(--font-headline);
  color: var(--color-text);
}

.hero {
  display: flex;
  min-height: 50vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-main);
}

summary {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--color-text);
  text-decoration: none;
  line-height: 36px;
  font-weight: 300;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 80vw;
  padding: 0.5rem;
  border-top: 1px solid var(--color-text);
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;
  list-style: none;
  font-family: var(--font-headline);
}

details[open] summary {
  background-color: var(--color-headline);
}

details summary:after {
  font-family: "Share Tech Mono", monospace;
  content: "+";
  color: var(--color-text);
  position: absolute;
  font-size: 2.5em;
  line-height: 0;
  margin-top: 1rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2.5em;
}

details summary {
  outline: 0;
}

details p {
  font-size: 1.25em;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

details h3 {
  padding-top: 2rem;
}
