.h1 {
  font-size: 7.594rem;
  line-height: 8rem;
  font-weight: bold;
}

.h2 {
  font-size: 3.157rem;
  font-weight: bold;
}

.h3 {
  font-size: 2rem;
  font-weight: bold;
}

.hero {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: clamp(100px, 500px);
  background-color: var(--color-darker);
  gap: 1rem;
}

.hero_btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid blue;
  font-weight: bold;
}

.hero_btn:hover {
  transition: 0.5s;
  background: blue;
  color: black;
}

.btn_container {
  display: flex;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: clamp(100px, 500px);
  background-color: var(--color-darker);
  gap: 3rem;
}
