.flexContainer {
  margin: 0 10% 0 10%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  min-height: 30vh;
  margin-bottom: 10vh;
}

.img {
  width: 15vw;
}

@media (max-width: 768px) {
  .flexContainer {
    min-height: 15vh;
  }
}

@media (max-width: 480px) {
  .flexContainer {
    min-height: 10vh;
  }
}
